@charset "UTF-8";

html {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    min-width: 1280px;
  }

body{
    color: #EEE;
}

/* ローディング画面 */
.containerback{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background: #000000;
  }
  
  /*-- loading bar --*/
  #container {
    position: fixed;
    bottom: 0;
    left: 25%;
    top: 50%;
    width: 50%;
    height: 8px;
  }

h1{
    position: absolute;
    font-family: "Noto Serif JP", serif;
    /* font-optical-sizing: auto; */
    font-weight: 200;
    font-style: normal;
    font-size: 80px;
    padding-right: 30px;
    line-height: 1.75;
    /* -ms-writing-mode: tb-rl; */
    /* writing-mode: vertical-rl; */
    top: 15%;
    left: auto;
    /* transform: translate(-50%, -50%); */
    padding: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    /* color: #222; */
}

/* ------------- ここから下部メニュー ------------- */
.menulist{
    position: fixed;
    bottom: 10px;
    list-style-type: none;
    display: table;
    color: #e9dcbe;
    text-align: center;
    z-index: 2;
    width: 100%;
    padding-left: 0;
    z-index: 9999;
}

.menulist:before{
    position: absolute;
    content: "";
    bottom: -50px;
    width: 100%;
    height: 150px;
    z-index: 1;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.7),rgba(0,0,0,1));
}

.menulist li{
    position: relative;
    z-index: 3;
    transition: all .3s;
    width: 25%;
    font-feature-settings: "liga" 0;
    font-family: 'Playfair Display', serif;
    display: table-cell;
    border-left: 1px solid #ddd ;
}

.menulist li a{
    font-size: 2vw;
    transition: all .3s;
    color: #e9dcbe;
    text-decoration: none;
    font-feature-settings: "liga" 0;
}

.menulist li a .niceclass1{
    display: inline;
}

.menulist li a:hover{
    letter-spacing: 6px;
}

.menulist li:first-child{
    border-left: none; 
}

/* ------------- ここまで下部メニュー ------------- */


main{
    position: relative;
    /* z-index: -2; */
    width: 100%;
    height: 100vh;
    background: url('../images/bg.jpg') 90% 0%;
    background-repeat: repeat-x;
    -webkit-animation: bgscroll 150s linear infinite;
    animation: bgscroll 150s linear infinite;
}

@-webkit-keyframes bgscroll{
  0%{
    background-position: 0 0;
  }
  
  100%{
    background-position: -1920px 0;
  }
}

@keyframes bgscroll{
  0%{
    background-position: 0 30px;
  }
  
  100%{
    background-position: -1920px 30px ;
  }
}

canvas {
  display: block;
  position: relative;
  z-index: -10000;
  width: 100%;
  height: 100%;
}

main .bg-sea{
  position: absolute;
  bottom: 0;
  background: linear-gradient(#1f68c6, #1778d9, #83c5e5);
  width: 100%;
  height: 300px;
  overflow: hidden;
}

main .bg-sea::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 20px;
  background: linear-gradient(#6e829c, #1f68c6);
}

main img.syozi_left{
    position: absolute;
    left: -100px;
    z-index: 3;
}

main img.syozi_right{
    position: absolute;
    right: -100px;
    z-index: 3;
}

main img.saku{
    position: absolute;
    bottom: 0;
    z-index: 1;
}

main .yane{
    position: absolute;
    left: 0;
    top: 0;
    background: #19191d;
    width: 100%;
    height: 100px;
    z-index: 1;
    overflow: hidden;
}

main .yane:after{
    position: absolute;
    content: "";
    left: 0;
    top: 90px;
    width: 100%;
    height: 10px;
    background: #252421;
}

main .div_ches{
  position: absolute;
  z-index: 2;
  width: 850px;
  margin: auto auto 0 auto;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main .model_ches{
  position: relative;
  width: 825px;
  height: 850px;
  z-index: 2;
}

main .model_ches_hand{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation-name: angle_hand;
  animation-duration: 2.5s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-in-out;
  animation-direction: alternate;
}


@keyframes angle_hand{
  0%{
      transform: rotate(1deg);
  }
  100%{
      transform: rotate(8deg);
  }
}

.search_container{
  box-sizing: border-box;
  background: rgba(51, 51, 51, 0.46);
  position: absolute;
  z-index: 100;
  top: 375px;
  left: 50%;
  border: 1px solid #bbb;
  padding: 3px 5px;
  border-radius: 50px;
  height: 2.3em;
  width: 500px;
  overflow: hidden;
  font-size: 20px;
  color: #333;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 5px 1px #555;
}

.search_container input[type="text"] {
  border: none;
  height: 2.0em;
  background: rgba(0,0,0,0);
  width: 85%;
  margin-left: 15px;
  color: #fff;
}

.search_container input[type="text"]:focus {
  outline: 0;
}

.search_container input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #fff;
  position: absolute;
  width: 2em;
  height: 1.75em;
  right: 5px;
  top: 0px;
  outline: none;
}

.hurin-suzu {
    position: relative;
    width: 150px;
    margin-left: 33%;
    z-index: 1;
    animation-name: suzuanimation;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
}
  
.hurin-suzu .suzu-circle {
    width: 100px;
    height: 80px;
    background: linear-gradient(#aab35b, #ffcdcd00);
    border-radius: 40% 40% 40% 40% / 60% 60% 30% 30%;
    position: relative;
}
  
.hurin-suzu .suzu-circle::before {
    width: 95px;
    height: 15px;
    content: '';
    border: solid 3px #866c22;
    border-radius: 50%;
    display: inline-block;
    margin: auto;
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
}

.suzu-huda {
    width: 50px;
    height: 200px;
    background: #518f63;
    margin: 0 auto;
    position: relative;
    transform: skew(-3deg, -5deg) translate(-30px);
}
  
.suzu-huda::before {
    width: 50px;
    content: '';
    border-top: 2px solid #866c22;
    position: absolute;
    top: -7px;
    transform: rotate(93deg);
}

@keyframes suzuanimation{
    0%{
        transform: rotate(5deg);
    }
    100%{
        transform: rotate(20deg);
    }
}

/* ------------- ここから落ち葉 ------------- */

.leaf {
  position: absolute;
  z-index: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaf li{
  position: absolute;
  list-style: none;
  top: -50px;
  background: #ffaf47;
  border-radius: 0% 70%;
  z-index: -1;
}


@keyframes fall {
  to {
    top: 120%;
  }
}

@keyframes sway1 {
  from {
    transform: translateX(0px) rotate(0deg);
  }
  to {
    transform: translateX(200px) rotate(-45deg);
  }
}

@keyframes sway2 {
  from {
    transform: translateX(200px) rotate(-45deg);
  }
  to {
    transform: translateX(0px) rotate(0deg);
  }
}

.leaf li:nth-child(1){
  left: 0%;
  top: -60px;
  width: 60px;
  height: 38px;
  background-color: #ffbf00;
  animation: fall 10s linear infinite,
             sway1 3s ease-in-out infinite alternate;
  animation-delay: 2s;
}

.leaf li:nth-child(2){
  left: 5%;
  top: -70px;
  width: 50px;
  height: 29px;
  background-color: #992400;
  animation: fall 15s linear infinite,
             sway1 2s ease-in-out infinite alternate;
  animation-delay: 8s;
}

.leaf li:nth-child(3){
  left: 15%;
  top: -50px;
  width: 36px;
  height: 20px;
  background-color: #c2704e;
  animation: fall 9s linear infinite,
             sway1 3.5s ease-in-out infinite alternate;
  animation-delay: 13s;
}

.leaf li:nth-child(4){
  left: 30%;
  top: -70px;
  width: 51px;
  height: 42px;
  background-color: #ffbf00;
  animation: fall 8s linear infinite,
             sway2 4s ease-in-out infinite alternate;
  animation-delay: 7s;
}
.leaf li:nth-child(5){
  left: 40%;
  top: -60px;
  width: 46px;
  height: 40px;
  animation: fall 10s linear infinite,
             sway1 4s ease-in-out infinite alternate;
  animation-delay: 0s;
}
.leaf li:nth-child(6){
  left: 55%;
  top: -50px;
  width: 54px;
  height: 35px;
  background-color: #631d08;
  animation: fall 11s linear infinite,
             sway2 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}
.leaf li:nth-child(7){
  left: 65%;
  top: -40px;
  width: 46px;
  height: 35px;
  animation: fall 7s linear infinite,
             sway2 3.5s ease-in-out infinite alternate;
  animation-delay: 7s;
}
.leaf li:nth-child(8){
  left: 50%;
  top: -60px;
  width: 43px;
  height: 29px;
  background-color: #c2704e;
  animation: fall 7s linear infinite,
             sway1 3s ease-in-out infinite alternate;
  animation-delay: 3s;
}
.leaf li:nth-child(9){
  left: 80%;
  top: -70px;
  width: 56px;
  height: 35px;
  animation: fall 10s linear infinite,
             sway2 4s ease-in-out infinite alternate;
  animation-delay: 4s;
}

@media screen and (max-width: 420px){

}