@charset "UTF-8";

@font-face
{
  font-family: 'はれのそら明朝';
  src: url('https://cdn.leafscape.be/Harenosora/harenosora_web.woff2')
       format("woff2");
}

body{
  background: #000000;
  color: aliceblue;
  min-width: 350px;
}

.containerback{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  background: #000000;
}

/*-- loading bar --*/
#container {
  position: fixed;
  top: 50%;
  width: 100%;
  height: 8px;
}

.chesmain{
  position: relative;
  background: url(../images/header.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.chesmain:before{
 position: absolute;
 content: "";
 width: 100%;
 height: 100vh;
 background: rgba(0, 0, 0, .3);
}

.topmain{
  position: absolute;
  bottom: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

h1{
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
  /* background: rgba(0, 0, 0, .6); */
  padding-bottom: 30px;
  padding-top: 10px;
  font-family: 'はれのそら明朝';
  font-weight: 100;
  font-size: 70px;
}

nav{
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, .6);
  position: absolute;
  top: 0;
}

nav ul{
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

nav ul li{
  width: 25%;
  border-right: 1px dotted aliceblue;
}

nav ul li:last-child{
  border-right: none;
}

nav ul li a{
  color: aliceblue;
  text-decoration: none;
  font-family: 'はれのそら明朝';
  font-size: 22px;
}

nav ul li a:hover{
  text-decoration: underline;
}

/* 矢印 */

#yazirushi {
  text-align: center;
  color: aliceblue;
  position: absolute;
  bottom: 20px;
  left: 50%;
  right: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  padding-top: 60px;
}
#yazirushi span {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
#yazirushi span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#yazirushi span::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb 3s infinite;
  animation: sdb 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width:800px){
  .chesmain{
    position: relative;
    background: url(../images/sp_header.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow: hidden;
  }
}