@charset "UTF-8";

@font-face
{
  font-family: "はれのそら明朝";
  src: url('https://cdn.leafscape.be/Harenosora/harenosora_web.woff2')
       format("woff2");
}

body{
  background: #1d1201;
  color: aliceblue;
  min-width: 350px;
  font-family: "はれのそら明朝";
}

.containerback{
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  background: #000000;
}

/*-- loading bar --*/
#container {
  position: fixed;
  bottom: 0;
  left: 25%;
  top: 50%;
  width: 50%;
  height: 8px;
}

.chesmain{
  position: relative;
  background: url(../images/headerv2.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.chesmain:before{
 position: absolute;
 content: "";
 width: 100%;
 height: 100vh;
 background: rgba(0, 0, 0, .3);
}

.topmain{
  position: absolute;
  bottom: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.kuuhaku{
  position: absolute;
  right: 0%;
  bottom: 30%;
  width: 50%;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}

h1{
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: normal;
  line-height: 1.3em;
  letter-spacing: 10px;
}

h1 .lovered{
  color: rgb(255, 93, 93);
  display: inline;
  font-size: 70px;
}

/* .hamberger{
  position: fixed;
  z-index: 1000;
  right: 30px;
  top: 30px;
  width: 70px;
  height: 70px;
  background: #fff;
  border-radius: 50%;
} */

nav{
  width: 45%;
  text-align: center;
  background: rgba(0, 0, 0, .6);
  position: absolute;
  z-index: 9999;
  right: 0;
  bottom: 0;
}

.fixeddesu{
  position: fixed;
  top: 0;
  height: 60px;
}

nav ul{
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

nav ul li{
  width: 25%;
}

nav ul li a{
  display: block;
  width: 100%;
  height: 20px;
  color: aliceblue;
  text-decoration: none;
  text-align: center;
  font-family: "はれのそら明朝";
  font-size: 22px;
  z-index: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav ul li a:hover{
  text-decoration: underline;
  transition: all .3s;
}

/* 矢印 */

#yazirushi {
  text-align: center;
  color: aliceblue;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 2%;
  z-index: 2;
  display: block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  padding-top: 70px;
  font-size: 28px;
  width: 200px;
}
#yazirushi span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb 1.5s infinite;
  animation: sdb 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

h2{
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
  font-family: "はれのそら明朝";
  font-weight: 100;
  font-size: 50px;
}

h3{
  position: relative;
  text-align: center;
  width: 100%;
  font-weight: 100;
  font-family: "はれのそら明朝";
  font-size: 40px;
  margin-bottom: 130px;
}

h3:after{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: rotate(45deg);
  z-index: -3;
  content: "";
  width: 120px;
  height: 120px;
  background: #103505;
}

.profile{
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: auto;
  border: 5px solid aliceblue;
  width: 100%;
  max-width: 1300px;
  height: 600px;
  margin-top: 200px;
  margin-bottom: 100px;
}

.profile h2{
  position: absolute;
  left: -8%;
  top: -5%;
  transform: rotate(-20deg);
  width: 450px;
  z-index: 10;
  background: #1d1201;
}

.profile img{
  width: 250px;
  box-shadow: 30px 30px 0px 0px rgba(19, 11, 0, 0.493);
  margin-bottom: 50px;
}

.profile .thumbnails{
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
}

.profile .borderonly{
  border-right: 1px dashed aliceblue;
  /* height: 700px; */
}

.profile .proftext{
  /* position: absolute; */
  width: 50%;
}

.profile .proftext .chestext{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.profile .proftext p{
  position: relative;

  z-index: 1;
  width: 50%;
  /* border-bottom: 1px dotted aliceblue; */
  padding-bottom: 20px;
  /* margin-left: 170px; */
  padding-left: 170px;
  font-size: 32px;
  margin: 42px auto;
}

.profile .proftext p:before{
  position: absolute;
  content: "";
  z-index: -1;
  transform: skewX(45deg);
  top: 0; bottom: 0; left: 0; right: 0;
}

.profile .proftext p:first-child:after{
  position: absolute;
  left: 0;
  content: "名前：";
}
.profile .proftext p:nth-child(2):after{
  position: absolute;
  left: 0;
  content: "タイプ：";
}
.profile .proftext p:nth-child(3):after{
  position: absolute;
  left: 0;
  content: "身長：";
}
.profile .proftext p:nth-child(4):after{
  position: absolute;
  left: 0;
  content: "体重：";
}

/* ずかんひょう */
.zukan{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../images/header.jpg');
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
.zukan:before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, .7);
 }

@media screen and (max-width:1500px){
  .kuuhaku{

  }
  
  h1{

  }
}


@media screen and (max-width:1000px){
  .kuuhaku{
    border: none;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
  }
  .chesmain{
    position: relative;
    background: url(../images/sp_header.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: left center;
    background-attachment: fixed;
    overflow: hidden;
  }
  h1{

  }
  .profile{
    display: block;
    margin: auto;
    width: 100%;
    margin-bottom: 100px;
  }
  .profile .thumbnails, .profile .proftext{
    width: 100%;
  }
  .borderonly{
    display: none;
  }
  .zukan{
    background-position: center center;
  }
}