main{
    background: url('../images//Summer/bg_qhd.jpg');
    background-size: auto 100%;
}

.menulist li a{
    font-size: 50px;
}

@-webkit-keyframes bgscroll{
    0%{
      background-position: 0 0;
    }
    
    100%{
      background-position: -2560px 0;
    }
  }
  
  @keyframes bgscroll{
    0%{
      background-position: 0 30px;
    }
    
    100%{
      background-position: -2560px 30px ;
    }
  }

.form_area{
    top: 32vh;
}

.search_container{
  width: 45%;
}


.icon_links{
  margin: 50px;
}

  main img.syozi_left,
main img.syozi_right,
main img.load_syozi_left,
main img.load_syozi_right{
  min-width: 625px;
}