main{
    background: url('../images/bg_qhd.jpg') 90% 0%;
}

@-webkit-keyframes bgscroll{
    0%{
      background-position: 0 0;
    }
    
    100%{
      background-position: -2560px 0;
    }
  }
  
  @keyframes bgscroll{
    0%{
      background-position: 0 30px;
    }
    
    100%{
      background-position: -2560px 30px ;
    }
  }

.search_container{
    top: 35vh;
  }

  main img.syozi_left,
main img.syozi_right,
main img.load_syozi_left,
main img.load_syozi_right{
  min-width: 625px;
}