@charset "UTF-8";

@font-face
{
  font-family: "はれのそら明朝";
  src: url('https://cdn.leafscape.be/Harenosora/harenosora_web.woff2')
       format("woff2");
}

body{
  background: black url(../images/bg.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 1300px;
  font-family: "はれのそら明朝";
}

h1{
    color: #333;
    text-align: center;
    font-size: 70px;
    font-weight: lighter;
    height: 200px;
    margin: 0 auto;
    padding-top: 50px;
    background: rgba(230, 230, 230, 0.699);
    max-width: 1400px;
}

.firstview{
    position: fixed;
    display: inline-block;
    width: 100px;
    height: 100px;
    right: 20px;
    bottom: 30px;
    content: '';
    background: url(../images/logo3.png);
    background-size: contain;
    mix-blend-mode: difference;
}

.twittericon{
    position: fixed;
    z-index: 100;
    left: 100px;
    bottom: 80px;
}

main{
    background: rgba(230, 230, 230, 0.699);
    max-width: 1400px;
    margin: auto;
}

h2{
    font-family: 'Cabin Sketch', cursive;
    width: 60%;
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    border-top: 2px solid #444;
    border-bottom: 2px solid #444;
    color: #444;
    margin-bottom: 50px;
    padding:30px 0 30px 0;
}

.lizardmanmaster{
    max-width: 1400px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.lizardmanmaster .lizamas{
    position: relative;
    width: 400px;
    height: 500px;
    margin-bottom: 50px;
    overflow: hidden;
    background-image: url(../images/bgicon.png);
    background-color:rgba(255,255,255,0.85);
    background-blend-mode:lighten;
    background-repeat: no-repeat no-repeat;
    background-position: right bottom;
    background-size: 60%;
}

.lizardmanmaster .lizamas.koukaiend:after{
    position: absolute;
    content: "公開終了";
    text-align: center;
    right: 0px;
    bottom: 200px;
    width: 100px;
    height: 25px;
    background: rgba(0, 0, 0, 0.466);
    color: aliceblue;
}

.lizardmanmaster .lizamas.making:after{
    position: absolute;
    content: "Comming soon";
    text-align: center;
    right: 0px;
    bottom: 200px;
    width: 150px;
    height: 25px;
    background: rgba(0, 0, 0, 0.466);
    color: aliceblue;
}

.lizardmanmaster .lizamas img{
    width: 400px;
    height: 300px;
    object-fit: contain;
    background: black;
    vertical-align: top;
}

.lizardmanmaster h3{
    margin-top: 0;
    padding-top: 10px;
    font-family: 'Oranienbaum', serif;
    color: #333;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    line-height: 1.4em;
    margin-bottom: 5px;
}

.lizamas .series{
    display: block;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #999; */
    color: rgb(77, 77, 77);
    font-size: 14px;
}

.lizamas .startyyyymm{
    position: relative;
    padding: 10px 20px 10px 80px;
}

.lizamas .startyyyymm:after{
    position: absolute;
    left: 20px;
    content: "公開日:";
}

a{
    position: absolute;
    right: 15px;
    display: table-cell;
    background: #555;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color: aliceblue;
    font-size: 14px;
    transition: all .3s;
}

a:hover{
    opacity: .8;
}

a i{
    padding-top: 10px;
}